﻿@model COMP6001_Assessment2_Gr07.Models.Holding
@{
    ViewData["Title"] = "Index";
}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Admin
                <small>Crypto Trade Simulator</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="index.php">Home</a>
                </li>
                <li class="active">Admin Index</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="@Url.Action("Index", "Users")" class="list-group-item">Wallet</a>
                <a href="@Url.Action("Buy", "Users")" class="list-group-item">Buy Currencies</a>
                <a href="@Url.Action("Sell", "Users")" class="list-group-item">Sell Currencies</a>
                <form method='POST'>
                    <button class="list-group-item" type="submit" name="logout" value="logout">Logout</button>
                </form>
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-md-9">
            <!-- Content Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class="text-center">Marketplace</h2>
                            <h2>Buy</h2>
                            <div class="col-sm-12">
                                    <h4 >Wallet User: </h4><input type="text" value="@ViewBag.Message" name="User" class="text-center"/>
                                    <h4>Wallet Value: </h4><input type="text" value="$@ViewBag.Wallet" name="Wallet" class="text-center"/>
                                    <h5 class="isf">@ViewBag.insufficientFunds</h5>
                                    <div id="cryptoTable"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <form method='POST'>
                <input class="btn btn-default" type="submit" name="logout" value="logout">
            </form>
        </div>
    </div>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Toi Ohomai Institute of Technology</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Purchase</h4>
            </div>
            <div class="modal-body">
                <h4>User: @ViewBag.Message</h4>
                <h4>Wallet: $@ViewBag.Wallet USD</h4>
                <form asp-action="Purchase">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Symbol" class="control-label"></label>
                        <input asp-for="Symbol" class="form-control" type="text" name="buySym" id="buySym" value="" readonly />
                        <span asp-validation-for="Symbol" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PurchasePrice" class="control-label"></label>
                        <input asp-for="PurchasePrice" class="purchasePrice form-control" type="text" name="buyPrice" id="buyPrice" value="" readonly />
                        <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Purchase Quantity</label>
                        <input asp-for="AmountHeld" class="purchaseQTY form-control" type="text" name="buyQTY" id="buyQTY" value="" />
                        <span asp-validation-for="AmountHeld" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Purchase Value</label>
                        <input class="purchaseValue form-control" type="text" name="buyValue" id="buyValue" value="" readonly /><br />
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" class="btn btn-success" value="Proceed!" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/js/cryptoAPIbuy.js"></script>
<script>
    $(document).on("click", ".buyClick", function () {
        var sym = $(this).data('sym');
        var price = $(this).data('price');
        $(".modal-body #buySym").val(sym);
        $(".modal-body #buyPrice").val(price);
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
