﻿@model COMP6001_Assessment2_Gr07.Models.User

@{
    ViewData["Title"] = "Welcome";
    
}

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Login
                <small>Crypto Labs</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Login Page</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="text-center panel-body">
                    <h3>Welcome to Crypto Trade Simulator, @ViewBag.Message</h3>
                    <p>
                        Here we give you $10,000 of fake money to trade Cryptocurrencies at real time prices!<br />
                        Simply purchase an amount of one or many currencies with your fake money then sell when you're ready.<br />
                        Lets see if you make a good profit?
                    </p>

                    <form asp-action="Begin">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Lets get started!">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Toi Ohomai Institute of Technology</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}